# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 7
    # Look for workflow files in the `.github/workflows` directory
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: "npm"
    cooldown:
      default-days: 7
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
